button, *{
    touch-action: manipulation;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
h2{
    font-size: 25px;
    font-weight: bolder;
}  
button{
    width: 80px;
    height: 40px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 4px 0px 4px;
    border-radius: 20px;
} 
.manaSymbols{
    width: 75px;
    height: 75px;
    border-radius: 200px;
}
.manaContainer{
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}
.mana{
    margin: 15px 10px 0px 10px;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lifeContainer{
    text-align: center;
}
.forestMana{
    color: green;
}
.mountainMana{
    color: red;
}
.swampMana{
    color: purple;
}
.islandMana{
    color: blue;
}
.plainsMana{
    color: yellow;
}
.player{
    opacity: 0.5;
    justify-content: center;
    justify-items: center;
}
#logo{
    width: 500px;
    height: 250px;
}
.counters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}